.keyword-container {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.keyword-button {
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: solid 1px;
  :hover {
    background-color: var(--red);
  }
  &[data-actived] {
    color: var(--yellow);
    border-color: var(--red);
    background-color: var(--red);
  }
}