.modal {
  background-color: navy;
  position: relative;
  max-width: 80vw;
  max-height: 80vh;
  padding: 0;
  position: fixed;
  top: 10vh;
  left: 10vw;
  overflow-y: scroll;
}

.close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
}